body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background: #282931;
  -webkit-font-smoothing: antialiased;
  font-family: 'Varela Round', sans-serif;
  height: 100%;
}

canvas {
  height: 100vh;
  z-index: -10;
  position: fixed;
  top: 0px;
}

a {
  color: #bbbbc4;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

a:hover {
  color: #fc3563a1;
}

h1 {
  color: #fc3565;
  padding-bottom: 0px;
  margin-bottom: 1%;
  font-size: 4rem!important;
}

p {
  font-size: 2rem;
}

h2 {
  color: #555560;
  font-size: 3rem;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.logo {
  font-family: 'Monoton', cursive;
  color: white;
  font-size: 8rem;
}

.top {
  padding-bottom: 5rem;
  text-align: center;
}

.header-content {
  color: #fff;
}

body {
  background-color:#333;
}

.content {
  /* text-align: center; */
  position: relative;
}

.output {
  text-align:center;
  font-family: 'Source Code Pro', monospace;
  color:white;
}

.output h1 {
  font-size:30px;
}

.row {
  padding: 1em 0;
}

/* Cursor Styling */

.cursor::after {
  content:'';
  display:inline-block;
  margin-left:3px;
  background-color:white;
  animation-name:blink;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
}
h1.cursor::after {
  height:24px;
  width:13px;
}
p.cursor::after {
  height:13px;
  width:6px;
}

@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

.footer{
padding-top:5rem;
}

.footer p{
  color:white;
  font-size:1.2rem;
}

.visit{
  color:white;
  font-size:12px;
  background:#32333a;;
  width:146px;
  padding:6px;
  border-radius:10px;
  position:fixed;
  right:20px;
}

span.new {
    background-color: #fc3565;
    font-weight: 700;
    padding: .2rem;
    margin-left: .4rem;
    color: #fff;
}

.wrapper {
  width: 90%;
  /* max-width: 1200px; */
  margin: 0 auto
}

.display {
  position: relative;
  left: 0px;
  height: 600px
}

#jsIcon {
width: 4rem;
position: relative;
top: 5px;
}

.laptop {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/laptop-screen-optimised.png");
  background-repeat: no-repeat;
  width: 477px;
  height: 307px;
  /* margin-left: 100px; */
  /* top: 264px; */
  /* left: 560px; */
  /* position: relative; */
  z-index: 2;
  
}
.laptop iframe {
  width: 1280px;
  height: 802px;
  top: 26px;
  left: 60px;
  transform: scale(0.277);
  -webkit-transform: scale(0.277);
  -o-transform: scale(0.277);
  -ms-transform: scale(0.277);
  -moz-transform: scale(0.277);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  -moz-transform-origin: top left;
  display: block;
}  

iframe {
  transform: scale(0.219);
  transform-origin: top left;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #fff;
  border-color: #000
}

.info {
color: white;
display: inline-block;
}

.desktop {
  /* position: relative; */
  width: 566px;
  height: 538px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/large-screen-optimised.png");
  /* top: 600px; */
  /* left: 220px; */
  z-index: 1
}

.desktop iframe {
  left: 28px;
  top: 38px;
  width: 1600px;
  height: 992px;
  transform: scale(0.3181);
  -webkit-transform: scale(0.3181);
  -o-transform: scale(0.3181);
  -ms-transform: scale(0.3181);
  -moz-transform: scale(0.3181);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  -moz-transform-origin: top left;
  display: block;
}

/*****************
*****************
 CONTACT STYLES
*****************
*****************/

#contact {
background: #181d23 url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/envelope.svg?sanitize=true) no-repeat right;
clip-path: polygon(0 0, 20% 100px, 100% 0, 100% 100%, 0 100%);
color: #fafafa;
min-height: 100vh;
width: 100%;
padding: 5rem 3rem;
display: flex;
justify-content: center;
align-items: center;
position: relative;
margin: -100px 0 140px;
z-index: 1;
}

#contact .container {
width: 80%;
max-width: 1200px;
padding: 25vh 0;
}

#contact .container .heading-wrapper {
display: flex;
justify-content: space-between;
}

#contact .heading-wrapper .social a {
color: #fafafa;
}

#contact .heading-wrapper .social a:hover {
color: #fc3565;
}

.heading-wrapper .heading .title {
font-size: 3rem;
line-height: 2.4rem;
}

.heading-wrapper .heading .separator {
background: #fc3565;
width: 150px;
height: 2px;
margin: 1rem 0;
}

.heading-wrapper .heading .subtitle {
font-size: 1.4rem;
}

#contact-form {
margin-top: 1rem;
}

input, textarea {
border: none;
padding: 1rem;
font-family: 'Overlock', Arial, Helvetica, sans-serif;
width: 100%;
height: 40%;
transition: 200ms;
}

input[type="text"],
input[type="email"],
input[type="text"]:not(output):not(:focus),
input[type="email"]:not(output):not(:focus),
textarea {
border-bottom: 1px solid #fafafa;
background: transparent;
color: #fafafa;
font-size: 1.8rem;
box-shadow: none;
outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="text"]:not(output):focus,
input[type="email"]:not(output):focus,
textarea:focus {
border-bottom: 1px solid #fc3565;
}

input[type="submit"] {
background: #fc3565;
color: #fafafa;
margin-top: 1rem;
width: auto;
float: right;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
cursor: pointer;
color: #333;
background: #fafafa;
}

::placeholder {
color: #fafafa;
}

/** Email to avoid spam **/
.mail {
display: inline-block;
font-style: italic;
}

.mail .at, .mail .dot {
font-size: .9rem;
margin: 0 .1rem;
color: #fc3565;
}


@media only screen and (max-width: 1149px) {
#contact .social a {
  display: block;
}
}

@media only screen and (max-width: 649px) {
#contact {
  clip-path: polygon(0 0, 20% 5%, 100% 0, 100% 100%, 0 100%);
  padding: 0;
}
}

/*****************
*****************
 CONTACT STYLES ENDS
*****************
*****************/



/* Mobile first queries */


/* Larger than mobile */

@media (min-width: 400px) {
  /* .laptop {
    width: 377px;
    height: 207px;
  } */
  
}


/* Larger than phablet */

@media (min-width: 550px) {}


/* Larger than tablet */

@media (min-width: 750px) {}


/* Larger than desktop */

@media (min-width: 1000px) {}


/* Larger than Desktop HD */

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}
